 <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Profil</h2>
          <p>
            Étudiante en master de Technologie Solaire et Appliquée, j'évolue dans le domaine du digital depuis deux ans. Le digital, un secteur attrayant par son évolution rapide et continue, est la clé de la modernisation et de l'innovation technologique. Séduite dès 2020, lors de ma première année universitaire, par les prouesses de la programmation web dans le domaine de l'automatisation, l'idée d'associer mes connaissances en Énergie Solaire et en Informatique a éveillé une grande curiosité en moi. En 2022, j'ai été sélectionnée par Simplon Burkina pour suivre une formation en Développement Web. Après plusieurs expériences post-formation, j'ai finalement découvert la profession qui me passionne dans le domaine du digital : le Graphisme.
            </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="src/assets/img/nadine.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Designer UI/UX. &amp; & Graphiste.</h3>
            <p class="fst-italic">
              Je suis à votre écoute pour vous offrir un service unique et de grande qualité, basé sur mes compétences et mes riches expériences. En tant que femme, la beauté et l'élégance occupent une place centrale dans ma démarche. C’est pourquoi je m’engage à donner vie à vos idées et à vos rêves, en les sublimant avec une créativité sans limites, tout en mettant en avant vos goûts et vos préférences.

            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Anniversaire:</strong> <span>21/08/2000</span></li>
                  {{!-- <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li> --}}
                  <li><i class="bi bi-chevron-right"></i> <strong>Telephone:</strong> <span>(+226) 70461621/55 98 01 41</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Ville:</strong> <span>Ouagadougou</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>24</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Diplome:</strong> <span>Licence 3</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span> beynire@gmail.com </span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Disponible en freelance</span></li>
                </ul>
              </div>
            </div>
            <p>
                Je vous accompagne également dans la gestion de vos réseaux sociaux, la création de contenus visuels pour ces plateformes, ainsi que la conception de visuels pour vos publicités, sites web et applications mobiles.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
