 <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Profile</h2>
          <p>Etudiante en master Technologie Solaire et Appliquée, j’évolue dans le domaine du digital depuis deux ans. Le digital, un domaine aussi attrayant de part son évolution rapide et permanente, elle est la clé de la modernisation et de l’émergence dans le domaine de la technologie. Séduite en 2020 à ma première année universitaire par les prouesses de la programmation web dans de domaine de l’automatisation, l’idée d’associer mes connaissances en Energie Solaire et en Informatique a contribué à animer une vive curiosité en moi. C’est alors qu’en 2022, je fus retenu par Simplon Burkina pour être formée en Développement Web.	 Après quelques expériences après ma formation, je découvre enfin le métier qui me passionne dans le domaine du digital : le Graphisme.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="src/assets/img/nadine.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Designer UI/UX &amp; Graphiste.</h3>
            <p class="fst-italic">
              Je suis disponible à vous offrir un service exceptionnel de qualité basé sur mes compétences et mes différentes expériences. En tant que femme, la beauté, l’élégance font parti de mes priorités.C’est pourquoi, je décide de sublimer autrement vos idées et vos rêves à partir d’une créativité illimitée dont vos gouts et vos préférences seront mis en valeur.

            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Anniversaire:</strong> <span>21/08/2000</span></li>
                  {{!-- <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li> --}}
                  <li><i class="bi bi-chevron-right"></i> <strong>Telephone:</strong> <span>(+226) 70461621/55 98 01 41</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Ville:</strong> <span>Ouagadougou</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>24</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Diplome:</strong> <span>Licence 3</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>beynire@gmail.com</span></li>
                  {{!-- <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li> --}}
                </ul>
              </div>
            </div>
            <p>
                Je vous aide aussi a gerer vos reseaux sociaux, a creer des contenus visuels pour vos reseaux sociaux, a creer des visuels pour vos publicites, a creer des visuels pour vos sites web, a creer des visuels pour vos applications mobiles.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
