  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Nadine</span></strong>
      </div>
      <div class="credits">
        Fait par <a href="#"> Nadine</a>
      </div>
    </div>
  </footer>
