
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          {{!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> --}}
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Tout</li>
              <li data-filter=".filter-app">African Skills</li>
              <li data-filter=".filter-card">Autres</li>
              {{!-- <li data-filter=".filter-web">Web</li> --}}
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-1.jpeg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-1.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-2.jpeg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-2.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-34.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-34.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-29.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-29.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-31.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-31.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-33.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-33.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-39.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-39.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-41.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-41.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-3.jpeg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-3.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-4.jpeg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-4.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-11.jpeg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-11.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-6.jpeg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-6.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-7.jpeg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-7.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-8.jpeg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-8.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-9.jpeg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-9.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-5.jpeg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-5.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-10.jpeg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-10.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-12.jpeg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-12.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-13.jpeg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-13.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>


{{!--  --}}
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                    <img src="src/assets/img/portfolio/portfolio-21.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="src/assets/img/portfolio/portfolio-21.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
                    </div>
                    </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                    <img src="src/assets/img/portfolio/portfolio-25.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="src/assets/img/portfolio/portfolio-25.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
                    </div>
                    </div>
        </div>
{{!--  --}}
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-14.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-14.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-15.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-15.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-16.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-16.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-17.pnd" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-17.pnd" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-18.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-18.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-19.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-19.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-20.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-20.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-22.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-22.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-23.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-23.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-24.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-24.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-26.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-26.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-27.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-27.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-28.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-28.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-30.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-30.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-32.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-32.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-36.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-36.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-38.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-38.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-40.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-40.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-42.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-42.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-43.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-43.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-44.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-44.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-45.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-45.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-35.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-35.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="src/assets/img/portfolio/portfolio-37.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="src/assets/img/portfolio/portfolio-37.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->
