 <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>CV</h2>
          {{!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> --}}
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Profile</h3>
            <div class="resume-item pb-0">
              <h4>BEY-NIRE NADINE CHRISTIANE SOME</h4>
              <p><em>
                Je suis dynamique et motivée, bien sûr ! En tant que jeune, je souhaite être utile à la société. Jeune femme en devenir, mon rêve est de devenir un modèle pour les générations futures. Briser les stéréotypes autour des femmes, notamment dans des domaines comme l'entrepreneuriat, est ce qui me motive dans mon métier de graphiste et en tant qu'étudiante dans le domaine des énergies renouvelables. À la tête d'une association dédiée à l'insertion professionnelle et au développement des compétences dans le secteur du numérique, je m'engage pleinement pour le travail collaboratif.
              </em></p>
              <ul>
                <li>Ouagadougou</li>
                <li>+226 70461621/55 98 01 41</li>
                <li>beynire@gmail.com </li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Licence &amp; Professionnelle Technologies Solaires et Appliquées</h4>
              <h5>2022 - 2023</h5>
              <p><em>Université Joseph Ki-ZERBO</em></p>
              <p>
                Obtenir ma licence est un accomplissement dont je suis extrêmement fière. Cela représente des années d'efforts et de sacrifices, et je me sens désormais mieux préparée à entrer dans le monde professionnel tout en poursuivant mes études.
              </p>
            </div>
            <div class="resume-item">
              <h4>Formation en &amp; web développement, web mobile</h4>
              <h5>2022</h5>
              <p><em>Simplon Burkina</em></p>
              <p>
                En tant que bénéficiaire du programme Tech4Sahel, en collaboration avec l'AUF Burkina et Make-Sense, je suis ravie d'avoir suivi cette formation en développement web. Ce fut une expérience intense, mais extrêmement enrichissante ! J'y ai non seulement acquis des compétences techniques, mais aussi développé une façon de penser plus structurée et créative.
              </p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title"> Experience Professionelle</h3>
            <div class="resume-item">
              <h4>Stagiaire technicienne énergie renouvelable
</h4>
              <h5>Avril - Août</h5>
              <p><em>Ouagadougou </em></p>
              <ul>
                <li>Contrôle et audit des équipements solaires, dimensionnement, suivi et évaluation des installations solaires à l’ANEREE</li>
                {{!-- <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
                <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
                <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li> --}}
              </ul>
            </div>
            <div class="resume-item">
              <h4>Stagiaire en infographie</h4>
              <h5>Novembre- Avril</h5>
              <p><em>Ouagadougou</em></p>
              <ul>
                <li>Infographe.</li>
                <li>Web développeuse WordPress.</li>
                <li>Assistante-secrétaire bureautique à Chromatic’s</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Formatrice bénévole en bureautique</h4>
              <h5>Juin 2023 - Novembre 2023</h5>
              <p><em>Ouagadougou</em></p>
              <ul>
                <li>
Formatrice bénévole en bureautique de l'association Action pour un Monde Meilleure soutenue par Simplon Burkina</li>
              </ul>
            </div>

             <div class="resume-item">
              <h4>Stagiaire web Développeuse à Total.js</h4>
              <h5>Avril 2023 - Juin 2023</h5>
              <p><em>Ouagadougou</em></p>
              <ul>
                <li> Contribuer au developpement du framework totaljs </li>
              </ul>
            </div>

             <div class="resume-item">
              <h4>Stagiaire au Campus Numérique Francophone</h4>
              <h5>Novembre 2022 - Décembre 2022</h5>
              <p><em>Ouagadougou</em></p>
              <ul>
                <li>Assistante projet numérique éducatif, animatrice visio-conférence et cérémonie, orientations, assistance aux étudiants, secrétaire bureautique</li>
              </ul>
            </div>
          </div>
        </div>

      <div class=""  data-aos="fade-up">
        <button id="cv-download" type="button" class="btn btn-outline-primary btn-lg">Voir mon cv</button>
      </div>
      </div>
    </section><!-- End Resume Section -->
