 <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          {{!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> --}}
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-file-post"></i></div>
            <h4 class="title"><a href="">Créations de visuels graphiques</a></h4>
            <p class="description">Grâce à une maîtrise des dernières tendances et techniques de design, je vous propose des visuels graphiques modernes et professionnels qui feront la différence auprès de votre public.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-laptop"></i></div>
            <h4 class="title"><a href="">Design web</a></h4>
            <p class="description">Je crée des designs web qui ne se contentent pas d’être beaux, mais qui sont aussi pensés pour maximiser les conversions. Un design efficace peut transformer vos visiteurs en clients fidèles.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">Community management</a></h4>
            <p class="description">Je vous propose un flocage de haute qualité, durable et résistant aux lavages, tout en respectant les textures et les couleurs. Vos vêtements ou produits resteront impeccables, même après une utilisation fréquente.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-printer"></i></div>
            <h4 class="title"><a href="">Impressions</a></h4>
            <p class="description">Je prends en charge vos campagnes publicitaires sur les réseaux sociaux, de la création des annonces à l'analyse des résultats, pour vous aider à atteindre vos objectifs commerciaux, qu’il s’agisse de générer du trafic, des ventes ou des leads.</p>
          </div>
          {{!-- <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
          </div> --}}
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-brush"></i></div>
            <h4 class="title"><a href="">Personnalisation</a></h4>
            <p class="description">Que ce soit pour des cartes de visite, des brochures, des affiches ou du packaging, je vous offre une large gamme de supports et de finitions pour répondre à tous vos besoins en communication visuelle.</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->
